/* Hierargiser un bloc de style
    .laClass {
        Box
        Border
        Background  
        text
        other
    }*/
header {
  .topbar {
    background-color: white;
    font-family: Lato, sans-serif;
    line-height: 90px;
    h1{
      margin:0.67em 0;
    }
  }

  .right-items {
    //text-align: center;
  //  color: #032f3e;
  //
  //  .fa-phone, .fa-skype {
  //    color: #b1a085;
    }
    a {
      color: #032f3e;
    }
  }

  .bluenav {
    position:relative;
    z-index:1;
    background-color: #032f3e;
    @include box-shadow(#656565 0 30px 30px);
    .navbar-collapse{
      padding:0;
    }
  }
  //
  .navbar-default .navbar-nav {

    .active > a {
      font-family: 'Roboto-Thinitalic', sans-serif;
      font-weight: lighter;
      background-color: #032f3e;
      color: white;

    }
    li {
      text-align: center;
      border: 1px solid $darkblue;
      a {
        color: white;
        font-family: Roboto-Bold, sans-serif;
        font-size:18px;
        letter-spacing:0.15em;
        height:96px;
        line-height:80px;

      }
      a:hover {
        color: $taupe;
      }
      .home {
        color: $taupe;
      }
    }
  }

