/**********************SLIDER *********************/
.slider {
  position: relative;
  height: 860px;
  background-color: $grey;

  .slider-text {
    margin-top: 425px;
    color: white;
  }
  .white-bump, .down {
    position: absolute;
    bottom:-5px;
    left: 850px - 93px;
  }

  .down {
    color:#ab987a;
    font-size: 16px;
    top :840px;
    left: 850px - 8px;

  }

  .slider-pagination {
    position: absolute;
    top: 325px;
    right: 0px;
    height: 100px;
    li {
      margin-bottom: 50px;
      i {
        color: white;
        font-size: 25px;
      }
    }

  }

  .slider-player {
    width: 170px;
    height: 122px;
    margin: 40px 0 80px;

    background-image: url(img/background-video.jpg);

    text-align: center;
    line-height: 122px;
  }
}